* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
}

html {
    font-size: 62.5%;
}
body{
    background-color: cornflowerblue;
    
}
p {
    font-size: 1.8rem;
}
h1{
    font-size: 4.8rem;
}